@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 5px 15px 5px 15px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul,
li {
  list-style: none;
  padding: 0 5px 0 5px;
  display: flex;
}

a {
  text-decoration: none;
  margin: 10px;
  color: grey;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

.footer {
  display: flex;
  flex-flow: column wrap;
  background-color: #eee;
}

.footer > .left-links-footer {
  justify-content: flex-start;
}

.footer > .right-links-footer {
  justify-content: flex-end;
}